builds/build-win/savegame_slot_1.ini
builds/build-win/savegame_slot_2.ini
builds/build-win/savegame_slot_3.ini
builds/build-win/savegame_slot_4.ini
builds/build-win/savegame_slot_5.ini
builds/build-lin/savegame_slot_1.ini
builds/build-lin/savegame_slot_2.ini
builds/build-lin/savegame_slot_3.ini
builds/build-lin/savegame_slot_4.ini
builds/build-lin/savegame_slot_5.ini
builds/build-win/settings.ini
builds/build-win/*.o
builds/build-win/settings.ini
builds/build-win/settings.ini
